body{
    padding:0;
    margin: 0;
    background-color:blue;
  }
  .landing{
    text-align: center;
    padding: 10px 300px;
   }
   #image{
    display: block;
    max-width: 100%;
    height: auto;
    justify-content: center;
  }
  #img-div{
    background-color: white;
    padding: 10px 10px 10px 10px;
 }
 .mvv{
   text-align:center;
   padding: 0px 200px;
   display:flex;
   }
 .gift{
   font-style: italic;
   text-align: center;
   
 }
 .mdf{
   text-align: center;
   padding-left:100px;
   padding-top: 100px;
   }
   #tribute-info{
     text-align: center;
     padding: 10px;
   }
   .mlf{
     display:flex;
     width: 700px;
     margin-left: 300px;
     }
     .about{
       display: inline-block;
     }
   
 
 
 
 
 
 